body {
    font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

/**-----------------------------------------------------------HEADER-----------------------------------------**/
.header {}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-navigation {
    display: flex;
}

.header-logo {
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;

}

.header-logo-italic {
    font-style: italic;
    display: inline-block;
}

.header-logo-img {
    margin-left: 4px;


}

.header-menu-list {
    display: flex;
    gap: 24px;
    margin-left: 100px;

}

.header-menu-item {}

.header-menu-link {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.header-soc-list {
    display: flex;
    margin-left: auto;
    gap: 14px;
}

.header-soc-item {}

.header-soc-link {
    color: #111111;
}

/* *----------------------------------------------------------HERO---------------------------------------------* */
.hero {
    padding-bottom: 120px;
}

.hero-container {
    background: rgba(17, 17, 17, 0.60);
    border-radius: 30px;
}

.hero-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    padding-top: 381px;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 481px;
    margin-bottom: 32px;
}

.hero-container-btn {
    display: flex;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 14px;
    min-width: 144px;
    align-items: center;
}

.hero-btn {
    color: #FFF;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    background: #FD9222;
    border: none;
    padding: 14px 40px 14px 40px;
    cursor: pointer;
    min-width: 144px;
}

.hero-link-btn {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    border: 1px solid #FFF;
    padding: 14px 40px 14px 40px;
}

.hero-scroll {
    display: flex;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
    align-items: center;
    gap: 14px;
    margin-left: auto;
}

.hero-scroll-icon {
    display: flex;
    width: 36px;
    height: 36px;
    background-color: #FFF;
    border-radius: 50%;
}

/** ----------------------------------------------ADVANTAGES-------------------------------------------- */


.advantages {
    background: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.advantages-container {}

.advantages-list {
    display: flex;
    gap: 88px;
    padding: 0 18px;

}

.advantages-item {
    width: calc((100% - 2 * 88px)/ 3);
}



.advantages-subtitle {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;

}

.advantages-item-text {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/** --------------------------------------------------TASTE------------------------------------------ */
.taste {
    padding-top: 120px;
}

.taste-container {}

.taste-title {
    color: #111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 412px;
    margin-bottom: 25px;
    text-align: center;
}

.taste-detail {
    color: #FD9222;
}

.taste-text {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 486px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 32px;
}

.taste-item {
    width: calc((100% - 3 * 32px) / 4);
    border-radius: 15px;
    border: 1px solid #FD9222;
    background: #FD9222;
    padding: 28px 23px;
}

.taste-img {
    margin-bottom: 36px;
}

.text-decoration-subtitle {
    color: #111;
}

.taste-item:nth-child(4n+3) {
    background: #1E1823;
    border: none;
}

.taste-item:nth-child(2n+2) {
    border: 1px solid #FD9222;
    background: #FFF;
}

.taste-subtitle {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/** ------------------------------------------------------MADE--------- */
.made {}

.made-container {
    padding-top: 120px;
}

.made-title {
    color: #111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.made-title-detail {
    color: #FD9222;
}

.made-container-flex {
    display: flex;
    gap: 52px;
    margin: 0 auto;
    align-items: center;


}

.made-left-side {}

.made-img {
    margin-right: 20px;
}

.made-right-side {
    border-radius: 15px;
    background: #FFF;
    /* padding: 32px 32px; */
    max-width: 516px;
}


.made-text-title {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    display: inline-block;
    margin-bottom: 28px;


}

.made-list {}

.made-item {
    margin-bottom: 24px;
    /* max-width: 420px; */

}

.made-text :not(:last-child) {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    max-width: 350px;


}

/** -----------------------------PRODUCTS--------------- */

.products {
    padding-top: 120px;
}

.products-title {
    color: #111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;

}

.products-title-detail {
    color: #FD9222;
}


.products-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.products-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.products-price {
    color: #111;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* *------------------------- SELLERS-----------------*/


.sellers-title {
    color: #111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.sellers-title-detail {
    color: #FD9222;
}


.sellers-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/* *-----------------------LOVED-------------- */

.loved-title {
    color: #111;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.loved-title-detail {
    color: #FD9222;
}

.loved-subtitle {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
}

.loved-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.loved-btn {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
}

/** ---------------------FOOTER------------ */
.footer {
    background: #1E1823;
}

.footer-text-subtitle {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter -spacing: -0.02em;
}

.footer-text-detail {
    color: #FD9222;
}

.footer-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
}


.footer-link-address {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.footer-link-navigation {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}